main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.todosList {
    width: 46rem;
}

.statusTodos {
    width: 46rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.statusTodos p {
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    align-items: center;
}

.statusTodos p span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.18rem;
    max-width: 4rem;
    background-color: var(--gray-400);
    border-radius: 8px;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--gray-200);
    padding: 0.125rem 0.5rem;
}

.createdTodos {
    color: var(--blue);
}

.doneTodos {
    color: var(--purple);
}

.noTodosCreated {
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    width: 46rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--gray-400);
    border-radius: 5px 5px 0 0;
    color: var(--gray-300);
    font-family: 'Inter', sans-serif;
}

.noTodosCreated > img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.noTodosCreated b{
    margin-bottom: 0.2rem;
}

